body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}
input[type="text"],
input[type="file"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    background-color: #0056b3;
}
#clearButton {
    background-color: #dc3545;
}
#clearButton:hover {
    background-color: #c82333;
}
#searchResults,
#allFilesResults {
    max-height: 400px; /* Կամ ցանկացած այլ բարձրություն, որը ցանկանում եք սահմանել */
    overflow-y: auto;
    padding-right: 10px; /* Հնարավոր ավելացված տարածություն սահեցնելու համար */
}
.saved-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
    width: 100%;
}
.saved-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.saved-item p,
.saved-item a {
    word-break: break-all;
    text-align: center;
}
.highlight {
    color: red;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.edit-delete-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.edit-delete-buttons button {
    flex: 1;
    margin: 0 5px;
    
}
/* Հաստատման պատուհանի ոճեր */
.modal-confirm {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content-confirm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal-content-confirm button {
    width: 80px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.modal-content-confirm button#confirmYes {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.modal-content-confirm button#confirmNo {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}
.saved-item p strong {
    font-weight: bold; /* Հաստ տառատեսակ */
}
.saved-item p em {
    font-style: italic; /* Էմֆասիզացված տառատեսակ */
}

/* Հաստ և մուգ կանաչ տեքստի համար */
.bold-green {
    font-weight: bold;
    color: darkgreen; /* Մուգ կանաչ գույն */
}

/* Հեշտությամբ հայտնաբերելի հղում */
.highlight {
    background-color: yellow;
}

/* Ավելացրեք այս CSS-ը ձեր CSS ֆայլում */
.delete-button {
    background-color: #DC3546;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
